@media screen and (max-width:1199px) {
    .activities__section {
        display: none;
}
}

// DESKTOP STARTED 

@media screen and (min-width:1200px) {
.activities {
    display: flex;
    justify-content: space-between;
}

.activities__item {
    position: relative;
}

.activities__description {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tertiary-text-color);
    background-color: rgba(47, 48, 58, 0.8);

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 70px;
    transform: translateY(-100%);
}
}

// .activities {
//     display: flex;
//     justify-content: space-between;
// }

// .activities__item {
//     position: relative;
// }

// .activities__description {
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.03em;
//     text-transform: uppercase;
//     color: var(--tertiary-text-color);
//     background-color: rgba(47, 48, 58, 0.8);
    
//     position: absolute;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     min-height: 70px;
//     transform: translateY(-100%);
// }