.clients {
    @extend %flex-wrap;
    margin-top: -30px;
    margin-left: -30px;
}

.clients__item {
    height: 92px;
    width: 210px;
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin-top: 30px;
    margin-left: 30px;

}

.clients__link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border: 1px solid var(--icon-fill);
    border-radius: 4px;
    color: var(--icon-fill);
    transition: color var(--animation-duration) var(--animation-timing-function),
        border-color var(--animation-duration) var(--animation-timing-function);
    
    &:hover,
    &:focus {
        color: var(--accent-color);
        border-color: var(--accent-color);
    }
}

.clients__logo {
    fill: currentColor;
    }


// TABLET STARTED

@media screen and (min-width:768px){
    .clients__item { 
        width: 226px;
        flex-basis: calc((100% - 3 * 30px) / 3);
    }
}




// DESKTOP STARTED

@media screen and (min-width:1200px){
        .clients__item {
            width: 170px;
            flex-basis: calc((100% - 6 * 30px) / 6);
        }
}