@media screen and (max-width:767px) {
    .nav {
        display: none;
    }

    .contacts {
        display: none;
    }
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    padding-top: 16px;
    padding-bottom: 16px;
}

.header {
    position: relative;
    border-bottom: 1px solid #ececec;
}

// TABLET STARTED

@media screen and (min-width:768px){
    .header__logo {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    .nav__list {
        display: flex;
        align-items: center;
    }
    
    .nav__item:not(:last-child) {
        margin-right: 50px;
    }

    .nav__link {
        padding-top: 34px;
        padding-bottom:34px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: inherit;
        transition: color var(--animation-duration) var(--animation-timing-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .nav__link--active {
        color: var(--accent-color);
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            background-color: var(--accent-color);
            border-radius: 2px;
        }
    }

    .contacts {
        display: block;
        }

    .contacts__item:not(:last-child) {
        margin-bottom: 10px;
    }

    .contacts__link {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;

        color: var(--secondary-text-color);
        transition: color var(--animation-duration) var(--animation-timing-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .contacts__icon {
        margin-right: 10px;
        fill: currentColor;
    }
}

// DESKTOP STARTED

@media screen and (min-width:1200px) {
.header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 92px;
}

.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
    }

.contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    }
}