.hero {
        padding-top: 118px;
        padding-bottom: 118px;
        text-align: center;
        background-size: cover;
        background-position: center;
        background-color: var(--secondary-background-color);
        margin-left: auto;
        margin-right: auto;

        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero-bcg/hero-bcg-mobile.jpg');

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bcg/hero-bcg-mobile@2x.jpg');
        }
    }

    @media screen and (min-width: 480px) {
        .hero{
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url('../images/hero-bcg/hero-bcg-tablet.jpg');
            
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bcg/hero-bcg-tablet@2x.jpg');
            }
        }
    }


    @media screen and (min-width:1200px){
        .hero {
            max-width: 1600px;
            padding-top: 200px;
            padding-bottom: 200px;
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/hero-bcg/hero-bcg-desktop.jpg');

            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bcg/hero-bcg-desktop@2x.jpg');
            }
        }
    }


.hero__title {
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.62;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: var(--tertiary-text-color);

        @media screen and (min-width:1200px) {
            font-size: 44px;
            line-height: 1.36;
        }
    }