.mobile-menu-button {
    border: none;
    padding: 0;
    background-color: transparent;
    line-height: 0;
    color: #212121;
    cursor: pointer;
    transition: color var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

    @media screen and (min-width:768px){
        display: none;
    }
}

.mobile-menu-button__icon {
    fill: currentColor;
}

.mobile-menu-button__icon--close {
    position: absolute;
    top: 10px;
    right: 15px;
}

.mobile-menu {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    background-color: var(--primary-background-color);
    transition: opacity var(--animation-duration) var(--animation-timing-function), visibility var(--animation-duration) var(--animation-timing-function);

    &.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    @media screen and (min-width:768px){
        display: none;
    }
}

body .mobile-menu.is-open {
position: fixed;
}

.mobile-menu__container {
    position: relative;
    padding: 48px 40px;  
}

.mobile-menu-nav{
    margin-bottom: 302px;
}

.mobile-menu-nav__item:not(:last-child){
    margin-bottom: 32px;
}

.mobile-menu-nav__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);

    }
}

.mobile-menu-nav__link--active {
    color: var(--accent-color);
}

.mobile-menu-contacts{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 64px;
}


.mobile-menu-contacts__item:not(:last-child){
    margin-bottom: 32px;
}

.mobile-menu-contacts__link{
font-weight: 500;
letter-spacing: 0.02em;
}

.mobile-menu-contacts__link--phone {
    font-size: 24px;
    line-height: 1.18;
    color: var(--accent-color);

    @media screen and (min-width:480px) {
        font-size: 34px;
        line-height: 1.17;
    }
}

.mobile-menu-contacts__link--mail {
font-size: 24px;
line-height: 1.18;
color: var(--secondary-text-color);
}


.mobile-menu-socials{
display: flex;
align-items: center;
flex-wrap: wrap;
}

.mobile-menu-socials__item {
    display: flex;
    align-items: center;

    @media screen and (max-width:479px) {
        margin: 4px;
    }

    &:not(:last-child)::after {
        content: "";
        width: 20px;
        height: 0px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
    }

}

.mobile-menu-socials__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}


