.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity var(--animation-duration) var(--animation-timing-function),
        visibility var(--animation-duration) var(--animation-timing-function);
    opacity: 1;
}

.backdrop {
    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal {
    width: 100%;
    text-align: center;
    padding: 40px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    opacity: 1;
    overflow: auto;

    background-color: var(--primary-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform var(--animation-duration) var(--animation-timing-function),
        opacity var(--animation-duration) var(--animation-timing-function);

        @media screen and (min-width:480px) {
            width: 450px;
        }

        @media screen and (min-width:1200px){
            width: 528px;
    }
}

.signup-form{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.modal {
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

.signup-form__field {
    display: block;
    margin-bottom: 10px;
}


.signup-form__title {
    display: block;
    text-align: center;
    margin-bottom: 12px;

    @include font(700, 20px, 30px);
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    @media screen and (min-width:1200px){
        @include font(700, 20px, 23px);
    }

}

.signup-form__text {
    display: block;
    text-align: left;
    margin-bottom: 4px;

    @include font(400, 12px, 14px);
    letter-spacing: 0.01em;
    color: var(--secondary-text-color);
}

.signup-form__wrapper {
    display: block;
    position: relative;
}

.signup-form__input {
    width: 100%;
    padding: 12px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    color: var(--primary-text-color);
    transition: border-color var(--animation-duration) var(--animation-timing-function);
    &:focus {
        border-color: var(--accent-color);
        outline: none;
    }
}

.signup-form__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    transition: fill var(--animation-duration) var(--animation-timing-function);
    
    .signup-form__input:focus + & {
        fill: var(--accent-color);
    }
}

.signup-form__message {
    display: block;
    width: 100%;
    height: 120px;
    margin-bottom: 20px;
    padding: 12px 16px;
    resize: none;
    color: var(--primary-text-color);
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--animation-duration) var(--animation-timing-function);
        &:focus {
        border-color: var(--accent-color);
        outline: none;
    }
        &::placeholder {
            font-size: 12px;
            line-height: 1.17;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }
}

@media screen and (min-width:1200px) {
    .signup-form__message::placeholder {
        font-size: 14px;
        line-height: 1.14;
    }
}

.checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    @include font(400, 12px, 14px);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);

    @media screen and (min-width:480px) {
        justify-content: center;
    }

    @media screen and (min-width:1200px) {
        @include font(400, 14px, 24px);
    }
}

.checkbox__link {
    text-decoration-line: underline;
    color: var(--accent-color);
}

.checkbox__icon {
    margin-right: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #000000;
    border-radius: 3px;
    transition: border-color var(--animation-duration) var(--animation-timing-function),
    background-color var(--animation-duration) var(--animation-timing-function);

    .checkbox__input:checked + & {
        background-color: var(--accent-color);
        border: 0.2px solid #FFFFFF;
    }
    
    .checkbox__input:focus + & {
        border-color: var(--accent-color);
    }
}


.modal-button {
    padding: 10px 32px;
}

.modal-button--close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--primary-background-color);
    cursor: pointer;
    transition: fill var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }
}