.contacts {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts__item:not(:last-child) {
    margin-right: 50px;
}

.contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color);
    transition: color var(--animation-duration) var(--animation-timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}