.section {
padding-top: 60px;
padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    margin-bottom: 30px;
    text-align: center;

    @include font(700, 28px, 33px);
        letter-spacing: 0.03em;

    @media screen and (min-width:1200px){
        margin-bottom: 50px;
    }
}

.section--other-bcg {
    background-color: var(--tertiary-background-color);
}

.section--no-padding-top{
    @media screen and (min-width:1200px){
        padding-top: 0;
    }
}