.section {
padding-top: 60px;
padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    margin-bottom: 30px;
    text-align: center;

    @include font(700, 28px, 33px);
    letter-spacing: 0.03em;
}

.section_other-bcg {
    background-color: var(--tertiary-background-color);
}

// TABLET STARTED 

// DESKTOP STARTED 

@media screen and (min-width:1200px){
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
.section__title {
    margin-bottom: 50px;
}

.section_no-padding-top {
        padding-top: 0;
    }
}



// .section_no-padding-top {
//     padding-top: 0;
// }

// .section_other-bcg {
//     background-color: var(--tertiary-background-color);
// }

// .section__title {
//     margin-bottom: 50px;
//     text-align: center;

//     @include font(700, 36px, 42px);
//     letter-spacing: 0.03em;
// }

// .section__title_margin-bottom {
//     margin-bottom: 50px;
// }
